//@include main-font-family();
@mixin main-font-family() {
  font-family: $ff-poppins;
}
//@include second-font-family();
@mixin second-font-family() {
  font-family: $ff-oswald;
}

//@include noselect();
@mixin noselect() {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

// darken( $base-color, 10% );
// lighten( $base-color, 10% );

// saturate( $base-color, 20% );
// desaturate( $base-color, 20% );

// adjust-hue( $base-color, 20% );

// rgba( $base-color, .7 );

// tint( $base-color, 10% );
// shade( $base-color, 10% );
