$main-color-blue: #0f4879;

$main-color-orange: #eb7719;

$text-color: #808080;

$subpage-color: #1f7ea2;

$title-color: #3a9156;

$bg-light-grey: #a04b31;

$outside-form-bg-color: #b0b0b0;

$ff-oswald: "Oswald", sans-serif;

$ff-poppins: "Poppins", sans-serif;

$main-full_decktop-breakpoint: 1440px;

$main-decktop-breakpoint: 1200px;

$main-tablet-breakpoint: 981px;

$main-all_mobile-breakpoint: 768px;

$main-mobile-breakpoint: 481px;

$form-light-text: #ffffff;

$form-light-background: #efefef;

$form-light-border: #d1d1d1;

$form-dark-text: #626262;

$form-dark-background: #3b3b3b;

$form-group-header: #777777;
