// #form_page_background {
// background-repeat: no-repeat;
// background-size: 100%;
// background-position: center top;
// background-color: $outside-form-bg-color;
// background-image: url("../bg/forms/Quote-Form-cservaustin-background-mobile.jpg");

// @media (min-width: $main-all_mobile-breakpoint) {
//   background-image: url("../bg/forms/Quote-Form-cservaustin-background.jpg");
// }
// }

.et_pb_form_section_2_1_1 {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
  background-color: $outside-form-bg-color;
  background-image: url("../bg/forms/Quote-Form-cservaustin-background-mobile.jpg");

  @media (min-width: $main-all_mobile-breakpoint) {
    background-image: url("../bg/forms/Quote-Form-cservaustin-background.jpg");
  }
}

.et_pb_form_section_2_2_1 {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
  background-color: $outside-form-bg-color;
  background-image: url("../bg/forms/Form_Free_Workplace_Reconfiguration_Quote_mobile_background.jpg");

  @media (min-width: $main-all_mobile-breakpoint) {
    background-image: url("../bg/forms/Form_Free_Workplace_Reconfiguration_Quote_descktop_background.jpg");
  }
}

.et_pb_form_section_2_3_1 {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
  background-color: $outside-form-bg-color;
  background-image: url("../bg/forms/Form_Free_Workplace_Moving_Quote_mobile_background.jpg");

  @media (min-width: $main-all_mobile-breakpoint) {
    background-image: url("../bg/forms/Form_Free_Workplace_Moving_Quote_descktop_background.jpg");
  }
}

.et_pb_form_section_2_4_1 {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
  background-color: $outside-form-bg-color;
  background-image: url("../bg/forms/Form_FREE_STORAGE_and_LOGISTICS_QUOTE_mobile_background.jpg");

  @media (min-width: $main-all_mobile-breakpoint) {
    background-image: url("../bg/forms/Form_FREE_STORAGE_and_LOGISTICS_QUOTE_desktop_background.jpg");
  }
}

.et_pb_form_section_2_5_1 {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
  background-color: $outside-form-bg-color;
  background-image: url("../bg/forms/Form_FREE_FURNITURE_PROJECT_MANAGEMENT_QUOTE_mobile_background.jpg");

  @media (min-width: $main-all_mobile-breakpoint) {
    background-image: url("../bg/forms/Form_FREE_FURNITURE_PROJECT_MANAGEMENT_QUOTE_desktop_background.jpg");
  }
}

.et_pb_form_section_2_6_1 {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
  background-color: $outside-form-bg-color;
  background-image: url("../bg/forms/Form_FREE_FURNITURE_STEAM_CLEANING_QUOTE_mobile_background.jpg");

  @media (min-width: $main-all_mobile-breakpoint) {
    background-image: url("../bg/forms/Form_FREE_FURNITURE_STEAM_CLEANING_QUOTE_desktop_background.jpg");
  }
}

.et_pb_form_section_2_7_1 {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
  background-color: $outside-form-bg-color;
  background-image: url("../bg/forms/Form_RECYCLE_FURNITURE_QUOTE_mobile_background.jpg");

  @media (min-width: $main-all_mobile-breakpoint) {
    background-image: url("../bg/forms/Form_RECYCLE_FURNITURE_QUOTE_desktop_background.jpg");
  }
}

.et_pb_form_section_2_8_1 {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
  background-color: $outside-form-bg-color;
  background-image: url("../bg/forms/Form_Free_Office_Space_Planning_and_Design_Quote_mobile_background.jpg");

  @media (min-width: $main-all_mobile-breakpoint) {
    background-image: url("../bg/forms/Form_Free_Office_Space_Planning_and_Design_Quote_desktop_background.jpg");
  }
}

.et_pb_form_section_3_1_1 {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
  background-color: $outside-form-bg-color;
  background-image: url("../bg/forms/Form-FREE-DEALERSHIP-SERVICES-QUOTE-mobile-background.jpg");

  @media (min-width: $main-all_mobile-breakpoint) {
    background-image: url("../bg/forms/Form-FREE-DEALERSHIP-SERVICES-QUOTE-desktop-background.jpg");
  }
}

.et_pb_form_section_3_2_1 {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
  background-color: $outside-form-bg-color;
  background-image: url("../bg/forms/Form-FREE-CORPORATE-SERVICES-QUOTE-mobile-background.jpg");

  @media (min-width: $main-all_mobile-breakpoint) {
    background-image: url("../bg/forms/Form-FREE-CORPORATE-SERVICES-QUOTE-desktop-background.jpg");
  }
}

.et_pb_form_section_3_3_1 {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
  background-color: $outside-form-bg-color;
  background-image: url("../bg/forms/Form-FREE-OFFICE-FURNITURE-INSTALLATION-SERVICES-QUOTE-mobile-background.jpg");

  @media (min-width: $main-all_mobile-breakpoint) {
    background-image: url("../bg/forms/Form-FREE-OFFICE-FURNITURE-INSTALLATION-SERVICES-QUOTE-desktop-background.jpg");
  }
}

.et_pb_form_section_3_4_1 {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
  background-color: $outside-form-bg-color;
  background-image: url("../bg/forms/Form-FREE-LAB-FURNITURE-SERVICES-QUOTE-mobile-background.jpg");

  @media (min-width: $main-all_mobile-breakpoint) {
    background-image: url("../bg/forms/Form-FREE-LAB-FURNITURE-SERVICES-QUOTE-desktop-background.jpg");
  }
}

.et_pb_form_section_3_5_1 {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
  background-color: $outside-form-bg-color;
  background-image: url("../bg/forms/Form-FREE-EDUCATION-FURNITURE-SERVICES-QUOTE-mobile-background.jpg");

  @media (min-width: $main-all_mobile-breakpoint) {
    background-image: url("../bg/forms/Form-FREE-EDUCATION-FURNITURE-SERVICES-QUOTE-desktop-background.jpg");
  }
}

.et_pb_form_section_3_6_1 {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
  background-color: $outside-form-bg-color;
  background-image: url("../bg/forms/Form-FREE-HEALTHCARE-FURNITURE-SERVICES-QUOTE-mobile-background.jpg");

  @media (min-width: $main-all_mobile-breakpoint) {
    background-image: url("../bg/forms/Form-FREE-HEALTHCARE-FURNITURE-SERVICES-QUOTE-desktop-background.jpg");
  }
}

.et_pb_form_section_3_7_1 {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
  background-color: $outside-form-bg-color;
  background-image: url("../bg/forms/Form-FREE-GOVERNMENT-CONTRACT-SERVICES-QUOTE-mobile-background.jpg");

  @media (min-width: $main-all_mobile-breakpoint) {
    background-image: url("../bg/forms/Form-FREE-GOVERNMENT-CONTRACT-SERVICES-QUOTE-desktop-background.jpg");
  }
}
