.form {
  .et_pb_row {
    width: 90%;
    padding: 0 20px;
    @media (min-width: $main-mobile-breakpoint) {
      width: 80%;
      max-width: 540px;
      padding: 0 30px;
    }
    @media (min-width: $main-all_mobile-breakpoint) {
      max-width: 720px;
      padding: 0 50px;
    }
    @media (min-width: $main-tablet-breakpoint) {
      max-width: 960px;
      padding: 0 70px;
    }
    @media (min-width: $main-decktop-breakpoint) {
      max-width: 1140px;
      padding: 0 90px;
    }
    @media (min-width: $main-full_decktop-breakpoint) {
      max-width: 1280px;
      padding: 0 110px;
    }
  }
  .et_pb_column {
    margin-bottom: 0;
  }

  .form-main-header {
    font-size: 42px;
    font-family: $ff-myriad;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0;
    margin: 0;
    color: $main-color-blue !important;
    padding: 50px 0;
    @media (min-width: $main-all_mobile-breakpoint) {
      font-size: 46px;
      padding: 75px 0 55px;
    }
    @media (min-width: $main-decktop-breakpoint) {
      font-size: 50px;
      padding: 100px 0 60px;
    }
  }

  .form-header-center {
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    padding: 50px 0 15px;
    color: $form-group-header;
    font-weight: 700;

    @media (min-width: $main-all_mobile-breakpoint) {
      font-size: 21px;
    }
    @media (min-width: $main-decktop-breakpoint) {
      font-size: 22px;
    }
  }

  .form-header-left {
    text-transform: uppercase;
    font-size: 20px;
    text-align: left;
    padding: 10px 0;
    color: $form-group-header;
    font-weight: 700;

    @media (min-width: $main-all_mobile-breakpoint) {
      font-size: 21px;
    }
    @media (min-width: $main-decktop-breakpoint) {
      font-size: 22px;
    }
  }

  .hidden {
    display: inline-block;
    width: 1px;
    height: 1px;
    margin: -1px 0 0;
    overflow: hidden;
    position: absolute;
  }

  .et_pb_contact {
    padding: 10px 0;
    .contact_field {
      .input {
        width: 100%;
        padding: 20px 30px;
        border: 0;
        border-radius: 0;
        color: $form-light-text;
        background-color: $form-dark-background;
        -webkit-appearance: none;
        font-size: 18px;
        line-height: 1;
        min-height: 80px;
        font-family: $ff-poppins;
        font-weight: 300;
        @media (min-width: $main-all_mobile-breakpoint) {
          font-size: 19px;
        }
        @media (min-width: $main-decktop-breakpoint) {
          font-size: 21px;
        }
        &::-webkit-input-placeholder {
          color: $form-light-text;
        }
        &::-moz-placeholder {
          color: $form-light-text;
        }
        &:-ms-input-placeholder {
          color: $form-light-text;
        }
        &:-moz-placeholder {
          color: $form-light-text;
        }
      }
    }
  }

  .et_pb_radio_check_tooltips {
    padding: 10px 0;
    .radio_check-label {
      display: block;
      background-color: transparent;

      .radio_check-input {
        position: absolute;
        width: 1px;
        height: 1px;
        margin-left: -1px;
        overflow: hidden;
        display: block;

        & + .radio_check_tooltip_wrapper {
          min-height: 80px;
          border: 2px solid $form-light-border;
          padding: 5px;
          box-sizing: border-box;
          color: $main-color-blue;
          font-family: $ff-myriad;
          display: flex;
          align-items: center;
          @media (min-width: $main-all_mobile-breakpoint) {
            padding: 10px;
          }
          @media (min-width: $main-decktop-breakpoint) {
            padding: 15px;
          }

          .centralize_content {
            display: flex;
            flex-flow: nowrap;
            align-items: flex-start;
            justify-content: space-between;
            width: 100%;

            .radio_check_checkmark {
              display: block;
              flex-shrink: 0;
              width: 33px;
              height: 33px;
              padding: 3px;
              border-radius: 50%;
              border: 5px solid $main-color-blue;
              background-color: $form-grey-radio;
              box-shadow: 0 0 0px 3px inset white;
              box-sizing: border-box;
            }
            .radio_check-label_text {
              font-size: 14px;
              padding: 0 20px;
              @media (min-width: $main-all_mobile-breakpoint) {
                font-size: 18px;
              }
              @media (min-width: $main-decktop-breakpoint) {
                font-size: 22px;
              }
            }
            .radio_check-tooltips {
              position: relative;
              display: flex;
              flex-shrink: 0;
              justify-content: center;
              align-items: center;
              width: 42px;
              height: 42px;
              border: 2px solid $form-light-border;
              border-radius: 50%;
              background: transparent;
              box-sizing: border-box;
              span {
                font-size: 24px;
                line-height: 24px;
                font-weight: 600;
                font-family: $ff-poppins;
                color: $form-grey-text;
              }
              .radio_check-tooltips_text {
                position: absolute;
              }
            }
          }
        }
        &:checked + .radio_check_tooltip_wrapper {
          border: 5px solid $form-light-border;
          color: $main-color-orange;
          background-color: $form-light-background;
          font-weight: 600;
          padding: 12px;

          .radio_check_checkmark {
            border-color: $main-color-orange;
            background-color: $main-color-orange;
          }
          .radio_check-tooltips {
            border: 5px solid $form-light-border;
            span {
            }
            .radio_check-tooltips_text {
            }
          }
        }
      }
    }
    &.blue {
      color: $form-group-blue;
    }
  }

  .et_pb_radio_check {
  }

  .et_pb_radio_check_field {
  }
}

// $form-light-text: #ffffff;

// $form-light-background: #efefef;

// $form-light-border: #d1d1d1;

// $form-dark-text: #626262;

// $form-dark-background: #3b3b3b;

// $form-group-header: #777777;
