#home-page-main-sliders {
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba($main-color-blue, 0.8);
  background-size: cover;
  background: -moz-linear-gradient(
    top,
    rgba(57, 100, 119, 1) 80%,
    rgba(230, 228, 224, 1) 99%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(57, 100, 119, 1) 80%,
    rgba(230, 228, 224, 1) 99%
  );
  background: linear-gradient(
    to bottom,
    rgba(57, 100, 119, 1) 80%,
    rgba(230, 228, 224, 1) 99%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#396477', endColorstr='#e6e4e0',GradientType=0 );

  @media (min-width: $main-tablet-breakpoint) {
    background-image: url("../bg/home/home-page-main-sliders-background-cservaustin-com.jpg");
    background-size: cover;
    background-color: transparent;
  }
}

#home-page-rating {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  background-color: transparent;
  background-image: url("../bg/home/home-page-rating-mobile-background-cservaustin-com.jpg");

  @media (min-width: $main-tablet-breakpoint) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    background-color: transparent;
    background-image: url("../bg/home/home-page-rating-desktop-background-cservaustin-com.jpg");
  }
}

#home-page-advantages {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  background-color: transparent;
  background-image: url("../bg/home/home-page-advantages-mobile-background-cservaustin-com.jpg");

  @media (min-width: $main-tablet-breakpoint) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    background-color: transparent;
    background-image: url("../bg/home/home-page-advantages-desktop-background-cservaustin-com.jpg");
  }
}
#parent-page-services {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: transparent;
  background-image: url("../bg/parent/parent-page-services-mobile-background-cservaustin-com.jpg");

  @media (min-width: $main-tablet-breakpoint) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    background-image: url("../bg/parent/parent-page-services-desktop-background-cservaustin-com.jpg");
  }
}

#parent-page-form {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  background-color: transparent;
  background-image: url("../bg/home/home-page-advantages-mobile-background-cservaustin-com.jpg");

  @media (min-width: $main-tablet-breakpoint) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    background-color: transparent;
    background-image: url("../bg/parent/parent-page-form-desktop-background-cservaustin-com.jpg");
  }
}

#several-page-get-free-installation-quote {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: transparent;
  background-image: url("../bg/several/Get-Free-Installation-Quote-cservaustin-mobile.jpg");

  @media (min-width: $main-all_mobile-breakpoint) {
    background-image: url("../bg/several/Get-Free-Installation-Quote-cservaustin.jpg");
  }
}

#children-services-page-furniture-installation-1 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: transparent;
  background-blend-mode: soft-light;
  background-image: url("../bg/children/Office-Furniture-Installation-cservaustin-mobile.jpg");

  @media (min-width: $main-tablet-breakpoint) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    background-image: url("../bg/children/Office-Furniture-Installation-cservaustin.jpg");
  }
}

#children-services-page-furniture-installation-2 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: transparent;
  background-image: url("../bg/children/Office-Furniture-Installation-Packages-cservaustin.jpg");

  @media (max-width: $main-tablet-breakpoint) {
    background-image: url("../bg/children/Office-Furniture-Installation-Packages-cservaustin-tablet.jpg");
  }
  @media (max-width: $main-mobile-breakpoint) {
    background-image: url("../bg/children/Office-Furniture-Installation-Packages-cservaustin-mobile.jpg");
  }
}

#children-services-page-furniture-installation-3 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-color: transparent;
  background-image: url("../bg/children/Office-Furniture-Why-Work-with-Us-cservaustin-mobile.jpg");

  @media (min-width: $main-all_mobile-breakpoint) {
    background-position: left center;
    background-image: url("../bg/children/Office-Furniture-Why-Work-with-Us-cservaustin.jpg");
  }
}

#children-services-page-furniture-installation-4 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-color: transparent;
  background-image: url("../bg/children/Office-Furniture-Who-Work-with-Us-cservaustin-mobile.jpg");

  @media (min-width: $main-all_mobile-breakpoint) {
    background-position: left center;
    background-image: url("../bg/children/Office-Furniture-Who-Work-with-Us-cservaustin.jpg");
  }
}


// #{
// background-repeat: no-repeat;
// background-size: cover;
// background-position: center;
// background-color: transparent;
//   @media (min-width: $main-tablet-breakpoint) {
// background-repeat: no-repeat;
// background-color: transparent;
// background-size: cover;
// background-position: center;
//   }
// }
