#home-page-main-sliders {
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba($main-color-blue, 0.8);
  background-size: cover;
  background: -moz-linear-gradient(
    top,
    rgba(57, 100, 119, 1) 80%,
    rgba(230, 228, 224, 1) 99%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(57, 100, 119, 1) 80%,
    rgba(230, 228, 224, 1) 99%
  );
  background: linear-gradient(
    to bottom,
    rgba(57, 100, 119, 1) 80%,
    rgba(230, 228, 224, 1) 99%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#396477', endColorstr='#e6e4e0',GradientType=0 );

  @media (min-width: $main-tablet-breakpoint) {
    background-image: url("../bg/home/home-page-main-sliders-background-cservaustin-com.jpg");
    background-size: cover;
    background-color: transparent;
  }
}

#home-page-rating {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  background-color: transparent;
  background-image: url("../bg/home/home-page-rating-mobile-background-cservaustin-com.jpg");

  @media (min-width: $main-tablet-breakpoint) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    background-color: transparent;
    background-image: url("../bg/home/home-page-rating-desktop-background-cservaustin-com.jpg");
  }
}

#home-page-advantages {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  background-color: transparent;
  background-image: url("../bg/home/home-page-advantages-mobile-background-cservaustin-com.jpg");

  @media (min-width: $main-tablet-breakpoint) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    background-color: transparent;
    background-image: url("../bg/home/home-page-advantages-desktop-background-cservaustin-com.jpg");
  }
}
#parent-page-services {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: transparent;
  background-image: url("../bg/parent/parent-page-services-mobile-background-cservaustin-com.jpg");

  @media (min-width: $main-tablet-breakpoint) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    background-image: url("../bg/parent/parent-page-services-desktop-background-cservaustin-com.jpg");
  }
}

#parent-page-form {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  background-color: transparent;
  background-image: url("../bg/home/home-page-advantages-mobile-background-cservaustin-com.jpg");

  @media (min-width: $main-tablet-breakpoint) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    background-color: transparent;
    background-image: url("../bg/parent/parent-page-form-desktop-background-cservaustin-com.jpg");
  }
}

#several-page-get-free-installation-quote {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: transparent;
  background-image: url("../bg/several/Get-Free-Installation-Quote-cservaustin-mobile.jpg");

  @media (min-width: $main-all_mobile-breakpoint) {
    background-image: url("../bg/several/Get-Free-Installation-Quote-cservaustin.jpg");
  }
}

#children-services-page-furniture-installation-1 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: transparent;
  background-blend-mode: soft-light;
  background-image: url("../bg/children/services/Furniture-Installation/Office-Furniture-Installation-cservaustin-mobile.jpg");

  @media (min-width: $main-tablet-breakpoint) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    background-image: url("../bg/children/services/Furniture-Installation/Office-Furniture-Installation-cservaustin.jpg");
  }
}

#children-services-page-furniture-installation-2 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: transparent;
  background-image: url("../bg/children/services/Furniture-Installation/Office-Furniture-Installation-Packages-cservaustin.jpg");

  @media (max-width: $main-tablet-breakpoint) {
    background-image: url("../bg/children/services/Furniture-Installation/Office-Furniture-Installation-Packages-cservaustin-tablet.jpg");
  } 
  @media (max-width: $main-mobile-breakpoint) {
    background-image: url("../bg/children/services/Furniture-Installation/Office-Furniture-Installation-Packages-cservaustin-mobile.jpg");
  }
}

#children-services-page-furniture-installation-3 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-color: transparent;
  background-image: url("../bg/children/services/Furniture-Installation/Office-Furniture-Why-Work-with-Us-cservaustin-mobile.jpg");

  @media (min-width: $main-all_mobile-breakpoint) {
    background-position: left center;
    background-image: url("../bg/children/services/Furniture-Installation/Office-Furniture-Why-Work-with-Us-cservaustin.jpg");
  }
}

#children-services-page-furniture-installation-4 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-color: transparent;
  background-image: url("../bg/children/services/Furniture-Installation/Office-Furniture-Who-Work-with-Us-cservaustin-mobile.jpg");

  @media (min-width: $main-all_mobile-breakpoint) {
    background-position: left center;
    background-image: url("../bg/children/services/Furniture-Installation/Office-Furniture-Who-Work-with-Us-cservaustin.jpg");
  }
}

#children-services-page-office-reconfiguration-1 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: transparent;
  background-blend-mode: soft-light;
  background-image: url("../bg/children/services/Office-Reconfiguration/Office-Reconfiguration-cservaustin-mobile.jpg");

  @media (min-width: $main-tablet-breakpoint) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    background-image: url("../bg/children/services/Office-Reconfiguration/Office-Reconfiguration-cservaustin.jpg");
  }
}

#children-services-page-business-moving-1 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: transparent;
  background-blend-mode: soft-light;
  background-image: url("../bg/children/services/Business-Moving/Commercial-Moving-Services-cservaustin-mobile.jpg");

  @media (min-width: $main-tablet-breakpoint) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    background-image: url("../bg/children/services/Business-Moving/Commercial-Moving-Services-cservaustin.jpg");
  }
}

#children-services-page-business-moving-2 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-color: transparent;
  background-blend-mode: soft-light;
  background-image: url("../bg/children/services/Business-Moving/C-Serv-Painless-Moving-Services-Commercial-Moving-Services-cservaustin-mobile.jpg");

  @media (min-width: $main-tablet-breakpoint) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    background-image: url("../bg/children/services/Business-Moving/C-Serv-Painless-Moving-Services-Commercial-Moving-Services-cservaustin.jpg");
  }
}

#children-services-page-business-moving-3 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-color: transparent;
  background-blend-mode: soft-light;
  background-image: url("../bg/children/services/Business-Moving/Turnkey-Moving-Services-Commercial-Moving-Services-cservaustin-mobile.jpg");

  @media (min-width: $main-tablet-breakpoint) {
    background-image: url("../bg/children/services/Business-Moving/Turnkey-Moving-Services-Commercial-Moving-Services-cservaustin.jpg");
  }
}

#children-services-page-logistic-storage-1 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  background-image: url("../bg/children/services/Logistic-Storage/Commercial-Storage-and-Furniture-Logistics-cservaustin-mobile.jpg");

  @media (min-width: $main-tablet-breakpoint) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../bg/children/services/Logistic-Storage/Commercial-Storage-and-Furniture-Logistics-cservaustin.jpg");
  }
}

#children-services-page-logistic-storage-2 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-color: transparent;
  background-image: url("../bg/children/services/Logistic-Storage/Storage-Services-Commercial-Storage-and-Furniture-Logistics-cservaustin-mobile.jpg");

  @media (min-width: $main-tablet-breakpoint) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    background-image: url("../bg/children/services/Logistic-Storage/Storage-Services-Commercial-Storage-and-Furniture-Logistics-cservaustin.jpg");
  }
}

#children-services-page-furniture-steam-cleaning-1 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-color: transparent;
  background-blend-mode: soft-light;
  background-image: url("../bg/children/services/Furniture-Steam-Cleaning/Office-Furniture-Steam-Cleaning-cservaustin-mobile.jpg");

  @media (min-width: $main-tablet-breakpoint) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-image: url("../bg/children/services/Furniture-Steam-Cleaning/Office-Furniture-Steam-Cleaning-cservaustin.jpg");
  }
}

#children-services-page-furniture-steam-cleaning-2 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-color: transparent;
  background-image: url("../bg/children/services/Furniture-Steam-Cleaning/Steam-Cleaning-Services-Office-Furniture-Steam-Cleaning-cservaustin-mobile.jpg");

  @media (min-width: $main-tablet-breakpoint) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-image: url("../bg/children/services/Furniture-Steam-Cleaning/Steam-Cleaning-Services-Office-Furniture-Steam-Cleaning-cservaustin.jpg");
  }
}

#children-services-page-recycle-furniture-1 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-color: transparent;
  background-blend-mode: soft-light;
  background-image: url("../bg/children/services/Recycle-Furniture/Office-Furniture-Removal-cservaustin-mobile.jpg");

  @media (min-width: $main-tablet-breakpoint) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    background-image: url("../bg/children/services/Recycle-Furniture/Office-Furniture-Removal-cservaustin.jpg");
  }
}

#children-services-page-layout-planning-design-1 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: transparent;
  background-blend-mode: soft-light;
  background-image: url("../bg/children/services/Layout-Planning-and-Design/Office-Space-Planning-and-Design-cservaustin-mobile.jpg");

  @media (min-width: $main-tablet-breakpoint) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../bg/children/services/Layout-Planning-and-Design/Office-Space-Planning-and-Design-cservaustin.jpg");
  }
}

#children-services-page-layout-planning-design-2 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: transparent;
  background-blend-mode: soft-light;
  background-image: url("../bg/children/services/Layout-Planning-and-Design/C-Serv-Space-Planning-Service-Office-Space-Planning-and-Design-cservaustin-mobile.jpg");

  @media (min-width: $main-tablet-breakpoint) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../bg/children/services/Layout-Planning-and-Design/C-Serv-Space-Planning-Service-Office-Space-Planning-and-Design-cservaustin.jpg");
  }
}

#children-services-page-furniture-project-management-1 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: transparent;
  background-blend-mode: soft-light;
  background-image: url("../bg/children/services/Furniture-Project-Management/Furniture-Project-Management-cservaustin-mobile.jpg");

  @media (min-width: $main-tablet-breakpoint) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../bg/children/services/Furniture-Project-Management/Furniture-Project-Management-cservaustin.jpg");
  }
}

#children-services-page-furniture-project-management-2 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: transparent;
  background-blend-mode: soft-light;
  background-image: url("../bg/children/services/Furniture-Project-Management/C-Serv-s-Turnkey-Project-Management-Benefits-cservaustin-mobile.jpg");

  @media (min-width: $main-tablet-breakpoint) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../bg/children/services/Furniture-Project-Management/C-Serv-s-Turnkey-Project-Management-Benefits-cservaustin.jpg");
  }
}

#children-services-page-furniture-project-management-3 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: transparent;
  background-blend-mode: soft-light;
  background-image: url("../bg/children/services/Furniture-Project-Management/C-SERV-Dedicated-Furniture-Project-Management-Service-cservaustin-mobile.jpg");

  @media (min-width: $main-tablet-breakpoint) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../bg/children/services/Furniture-Project-Management/C-SERV-Dedicated-Furniture-Project-Management-Service-cservaustin.jpg");
  }
}

#children-services-page-furniture-project-management-4 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-color: transparent;
  background-blend-mode: soft-light;
  background-image: url("../bg/children/services/Furniture-Project-Management/Call-Out-for-Painless-Workplace-Transformation-Services-cservaustin-mobile.jpg");

  @media (min-width: $main-tablet-breakpoint) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../bg/children/services/Furniture-Project-Management/Call-Out-for-Painless-Workplace-Transformation-Services-cservaustin.jpg");
  }
}


#form_page_2_1_1 {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
  background-color: $outside-form-bg-color;
  background-image: url("../bg/forms/Quote-Form-cservaustin-background-mobile.jpg");

  @media (min-width: $main-all_mobile-breakpoint) {
    background-image: url("../bg/forms/Quote-Form-cservaustin-background.jpg");
  }
}

// #{
// background-repeat: no-repeat;
// background-size: cover;
// background-position: center;
// background-color: transparent;
//   @media (min-width: $main-tablet-breakpoint) {
// background-repeat: no-repeat;
// background-color: transparent;
// background-size: cover;
// background-position: center;
//   }
// }
