.top-header-second-menu {
  display: none;
  position: absolute;
  right: 0;
  top: 10px;
  transition: top 0.3s ease-in-out;
  @media (min-width: 981px) {
    display: inline-flex;
    flex-wrap: nowrap;
  }
  .second-nav-block {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 40px;
    overflow: hidden;
    margin-left: 10px;

    .nav-icon-block {
      height: 35px;
      width: 30px;
      margin-right: 5px;
    }
    .nav-text-block {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 37px;
      width: 100%;
      max-width: 120px;
      .nav-cta {
        width: 100%;
        font-size: 12px;
        line-height: 14px;
        padding-bottom: 4px;
        color: #eb7719;
        font-weight: bold;
        float: left;
      }
      .nav-cta-desc {
        width: 100%;
        font-size: 16px;
        line-height: 16px;
        text-transform: uppercase;
        color: #7a7a7a;
        font-weight: normal;
        float: left;
      }
    }
  }
  .nav-social-inline {
    display: inline-block;
    margin-top: 2px;
    margin-left: 10px;
  }
}
.et-fixed-header {
  .top-header-second-menu {
    top: -40px;
  }
}

.nav-icon-circle {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #eb7719;
  border-radius: 50%;
  text-align: center;
  transition: font-size 0.4s, width 0.4s, height 0.4s, line-height 0.4s, padding 0.4s ease-in-out;
  font-family: "Font Awesome 5 Brands";
  font-size: 20px;
  color: white;
  line-height: 30px;
  vertical-align: middle;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;

  &::after {
    position: relative;
    speak: none;
    font-weight: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    transition: font-size 0.4s, width 0.4s, height 0.4s, line-height 0.4s, padding 0.4s ease-in-out;
  }
  &.nav-icon-linkedin-in::after {
    content: "\f0e1";
  }
  &.nav-icon-google-plus::after {
    content: "\f0d5";
  }
  &.nav-icon-facebook::after {
    content: "\f39e";
  }
  &.nav-icon-twitter::after {
    content: "\f099";
  }
}

.nav-icon-calendar {
  width: 30px;
  height: 30px;
  font-size: 30px;
  line-height: 30px;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-weight: 400;
  font-family: "Font Awesome 5 Free";
  background-color: transparent;
  color: #eb7719;
  &::after {
    content: "\f274";
  }
}

.nav-icon-phone {
  width: 30px;
  height: 30px;
  font-size: 30px;
  line-height: 35px;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
  text-rendering: auto;
  font-family: "Font Awesome 5 Free";
  background-color: transparent;
  color: #eb7719;
  &::after {
    content: "\f3cd";
  }
}
.et_header_style_left,
.et_header_style_split {
  #et-top-navigation {
    padding-top: 5px;
    .mobile_menu_bar {
      padding-bottom: 45px;
      &::before {
        color: #004277;
        font-size: 50px;
      }
    }
  }
}
@media (min-width: 981px) {
  .et_header_style_left,
  .et_header_style_split {
    #et-top-navigation {
      padding-top: 70px;
      //nav
      & > #top-menu-nav {
        //ul
        & > #top-menu {
          //li
          & > .menu-item {
            & > a {
              padding-bottom: 15px;
              border-bottom: 8px solid transparent;
              transition: border-color 0.1s linear;
              opacity: 1 !important;
              color: #808080 !important;
              &::after {
                font-size: 25px;
                color: #eb7719;
              }
            }
            &:hover {
              & > a {
                border-bottom-color: #eb7719;
              }
            }
            .sub-menu {
              width: 280px;
              & > .menu-item {
                padding: 0;
                width: 100%;
                a {
                  font-size: 16px;
                  line-height: 1.2;
                  padding: 10px 30px;
                  width: 100%;
                  transition: background 0.2s;
                  &:hover {
                    opacity: 1;
                    background-color: #d35f00;
                  }
                }
              }
            }
            &.current-menu-ancestor {
              & > a {
                border-bottom-color: #eb7719;
              }
            }
          }
        }
      }
    }
  }
}

#main-header {
  #et-top-navigation {
    #et_mobile_nav_menu {
      .et_mobile_menu {
        border-color: #eb7719;
        .menu-item {
          &.menu-item-has-children {
            & > a:after {
              content: "3";
              font-size: 30px;
              color: #eb7719;
            }
            &.visible {
              & > a:after {
                content: "\4d";
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 981px) and (max-width: 1350px) {
  #page-container {
    #main-header {
      & > .et_menu_container {
        width: 95%;
        #top-menu-nav {
          #top-menu {
            li:last-child {
              .sub-menu {
                right: 0;
              }
            }
          }
        }
      }
    }
  }
}
#page-container {
  #main-header {
    .logo_container {
      left: 0;
      text-align: center;
      & > a {
        display: inline-block;
        vertical-align: top;
        position: relative;
        top: 24px;
        @media (min-width: 981px) {
          height: 100%;
          max-height: 70%;
          top: 10px;
        }
      }
      @media (min-width: 981px) {
        text-align: left;
      }
      .c-serv-logo-text-alt {
        display: inline-block;
        text-transform: uppercase;
        text-align: center;
        color: #004278;
        font-family: "Oswald", sans-serif;
        font-size: 18px;
        letter-spacing: 1px;
        position: absolute;
        display: inline-block;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        @media (min-width: 981px) {
          font-size: 9px;
        }
      }
    }
    #top-menu {
      .sub-menu {
        li.current-menu-item {
          & > a {
            color: #ffffff !important;
            background-color: #c05805;
          }
        }
      }
    }
    &.et-fixed-header {
      .logo_container {
        & > a {
          @media (min-width: 981px) {
            overflow: hidden;
          }
        }
      }
      #top-menu {
        .sub-menu {
          li.current-menu-item {
            & > a {
              color: #ffffff !important;
              background-color: #c05805;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 980px) {
  #page-container {
    #main-header {
      & > .et_menu_container {
        width: 100%;
        padding-right: 3%;
        padding-left: 3%;
      }
    }
  }
}

@media (min-width: 981px) and (max-width: 1080px) {
  #top-menu-nav {
    #top-menu {
      li:not(:last-child) {
        padding-right: 14px;
      }
      li {
        a {
          font-size: 16px;
        }
      }
    }
  }
}
@media (min-width: 1081px) and (max-width: 1180px) {
  #top-menu-nav {
    #top-menu {
      li:not(:last-child) {
        padding-right: 17px;
      }
      li {
        a {
          font-size: 17px;
        }
      }
    }
  }
}
@media (min-width: 1181px) and (max-width: 1250px) {
  #top-menu-nav {
    #top-menu {
      li:not(:last-child) {
        padding-right: 20px;
      }
      li {
        a {
          font-size: 18px;
        }
      }
    }
  }
}

#main-header .et_mobile_menu {
  .menu-item-has-children {
    > a {
      background-color: transparent;
      position: relative;
      &:after {
        font-family: "ETmodules";
        text-align: center;
        speak: none;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        position: absolute;
        font-size: 16px;
        content: "\4c";
        top: 13px;
        right: 10px;
      }
    }
    &.visible > a:after {
      content: "\4d";
    }
  }
  ul.sub-menu {
    display: none !important;
    visibility: hidden !important;
    transition: all 1.5s ease-in-out;
  }
  .visible > ul.sub-menu {
    display: block !important;
    visibility: visible !important;
  }
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lighten($main-color-blue, 10%);
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $text-color;
}
